
.tab-container .ant-tabs {
    background-color: #232323; 
    border: 1px solid #333; 
    padding: 25px;
  }
  
  .tab-container .ant-tabs-tab {
    padding: 8px 16px;
    font-weight: bold;
    text-transform: uppercase; 
    color: #888; 
    border-right: 1px solid #333; 
  }
  
  .tab-container .ant-tabs-tab:hover {
    color: #cbb286;
  }
  
  .tab-container .ant-tabs-tab-active {
    background-color: #d69e6d; 
    color: #fff; /* Active tab text color */
  }
  
  /* Tab ink-bar (the underline of the active tab) */
  .tab-container .ant-tabs-ink-bar {
    display:none; 
  }
  
/* Base styling for the tab container */
.tab-container {
  padding: 20px;
}

/* Centering tabs and setting font size */
.ant-tabs-tab {
  font-size: 16px;
  padding: 10px 20px;
}

/* Adjusting for tablets */
@media (max-width: 768px) {
  .tab-container {
    padding: 10px;
  }

  .ant-tabs-tab {
    font-size: 14px;
  }
}

/* Adjusting for mobile screens */
@media (max-width: 480px) {
  .tab-container {
    padding: 5px;
  }

  .ant-tabs-tab {
    font-size: 12px;
    padding: 8px;
  }

  /* Making tabs scrollable on smaller screens */
  .ant-tabs-nav-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  /* Reducing tab height on mobile */
  .ant-tabs-tab-btn {
    padding: 8px 10px;
  }
}
